---
---

$primary-color: rgb(251,81,11);
$secondary-color:rgb(106,197,244);
$blackish-color: rgb(9,43,43);
$dropdownmenu-background: #ffa500;
$success-color: #3adb76;
$contrast-color: white;

@import 'foundation';
@include foundation-everything;

// ------------
// General
// ----------
* {
  font-family: 'Courier New', Courier, monospace;
}

// ------------
// Header
// ----------

header {
  padding-left: 10%;
  padding-right: 10%;
}

#top-header {
   padding-top: 5%;
  
}


.top-bar ul li>a {
  color: $blackish-color;
  color: $contrast-color;
}

.top-bar {
  background-color: $blackish-color;
  color: $contrast-color;
}

.top-bar ul{
  background-color: $blackish-color;
  color: $contrast-color;
  
  
}

#callout-large {
  margin: 0rem;
  border-radius: 0rem;
  padding: 0rem;
}

//Main//

main {
  @include grid-row;
  article {
    header, div:first { 
      @include grid-column(12);
    }
  }
  padding : {
    left: 20px;
    right: 20px;
  }
}

.row.row {
  margin-left: 0;
  margin-right: 0;
}

.callout {
  border-color: $blackish-color; 
//  border-radius: 5px;
//   display: block;
//   height: 150px;
//   width: 100%;
}

$tooltip-bg: #3adb76;

.tooltip {
background: #3adb76 !important;
}

//Footer//
footer {
  padding: 20px;
  background-color: $primary-color;
  color:$secondary-color;
}

// #leftcallout.columns {
//   padding-right: 0;  
// }
// #rightcallout.columns {
//   padding-left: 0;  
// }

div[data-d3-graph] {
  border: 1px solid brown;
}

/* Share buttons */
.sharebuttons {
  margin: 0 auto 0 auto;
}

.sharebuttons ul {
  margin: 20px 0 0 0;
  text-align: center;
}

.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;
}

.sharebuttons ul li svg {
  width: 40px;
  height: 40px;
}

.sharebuttons .twitter svg {
  fill: #1DA1F2;
}

.sharebuttons .facebook svg {
  fill: #4172B8
  ;
}

.sharebuttons .linkedin svg {
  fill: #0077B5;
}

.sharebuttons .github svg {
  fill: #181717;
}
