---
---

$primary-color: rgb(251,81,11);
$secondary-color:rgb(106,197,244);
$blackish-color: rgb(9,43,43);
$dropdownmenu-background: #ffa500;
$success-color: #3adb76;

@import 'foundation';
@include foundation-everything;

// ------------
// header
// ----------

.top-bar ul li>a {
  color: $blackish-color;
}


//Main//

main {
  @include grid-row;
  article {
    header, div:first { 
      @include grid-column(12);
    }
  }
  padding : {
    left: 20px;
    right: 20px;
  }
}

.row.row {
  margin-left: 0;
  margin-right: 0;
}

.callout {
  border-color: $blackish-color; 
  border-radius: 5px;
//   display: block;
//   height: 150px;
//   width: 100%;
}


$tooltip-bg: #3adb76;

.tooltip {
background: #3adb76 !important;
}

//Footer//
footer {
  padding: 20px;
  background-color: $primary-color;
  color:$secondary-color;
}






// #leftcallout.columns {
//   padding-right: 0;  
// }
// #rightcallout.columns {
//   padding-left: 0;  
// }