---
---

$primary-color: darkgreen;
$secondary-color: blue;
$dropdownmenu-background: orange;
$success-color: #3adb76;

@import 'foundation';
@include foundation-everything;

header {
  .top-bar li>a {
 color: black
  }
}
main {
  @include grid-row;
  article {
    header, div:first { 
      @include grid-column(12);
    }
  }
  padding : {
    left: 20px;
    right: 20px;
  }
}

footer {
  padding: 20px;
  background-color: $primary-color;
  color: white;
}

.callout.success {
  border: white; 
}

// #leftcallout.columns {
//   padding-right: 0;  
// }
// #rightcallout.columns {
//   padding-left: 0;  
// }